*{
    margin: 0;
    padding: 0;
    font-family:  Arial, Helvetica, sans-serif;
    border: border-box;
}
body{
    font-family:poppins;
}
/* Admin Panel*/
 
.navbar2{
     
    height: 600px;
    
    background: #fff;
    width: 280px;
    border: 2px solid black;
    display: block;
     
       
  }
  h2{
    margin-left: 73px 
  }
 /*
.nav-items{
     
    height: 100vh;
  }
*/

  .item{
    display: flex;
    justify-content:left  ;
    align-items: center;
    margin-top: 42px;
    margin-left: 40px;
    

   }
.icon{
    font-size:20px;

}
a {
    color: rgb(30, 26, 28);
    text-decoration: none;
  }
  

  a:hover {
    color: hotpink;
  }

.n{
font-size: 20px;
margin-left: 20px;
 
}


 