@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

 
* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--light-bg);
}

.heading {
    min-height: 30vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: url(../images/heading-bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.heading h3 {
    font-size: 5rem;
    color: var(--black);
    text-transform: uppercase;
}
 
.placed-orders .box-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    height: auto;
    width: 100%;
}

.placed-orders .box-container .empty {
    flex: 1;
}

.placed-orders .box-container .box {
    flex: 1 1 40rem;
    border-radius: .5rem;
    padding: 2rem;
    border: var(--border);
   background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    padding: 1rem 2rem;
    width:30%;
    border: solid 2px black;
}

.placed-orders .box-container .box p {
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--light-color);
}

.placed-orders .box-container .box p span {
    color: var(--purple);
}

 
 .box-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

 .box-container .box h3 {
    text-transform: uppercase;
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 2rem;
}

.box-container .box p,
.box-container .box a {
    display: block;
    font-size: 1.7rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.box-container .box p i,
.box-container .box a i {
    color: var(--purple);
    padding-right: .5rem;
}

.box-container .box a:hover {
    color: var(--purple);
    text-decoration: underline;
}
 