 

*{
    margin: 0;
    padding: 0;
    font-family:  Arial, Helvetica, sans-serif;
    border: border-box;
}
body{
    font-family:poppins;
}


/* Header Styles */
header {
    background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);  
	position: sticky;
  top: 0;
  z-index: 100;
     border-radius: 20px;
	  
	  
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
	border-radius: 20px;
    margin-bottom: 4px;
	 
}

.logo {
    background-image: url("images/dfms1.png");
    background-size: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
	    margin: 3px;
}

.menu li a:hover {
    color: #666;
}
.menu li:hover{
    /*border:1.5px solid #0f1111;*/
    transform: scale(1.2);
}
.nav-card a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

.nav-card a:hover {
    color: #666;
}

 .nav-card:hover{
    /*border:1.2px solid #0f1111;*/
    transform: scale(1.2);
 }
.panel{
    height: 40px;
   background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);  
	
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    /*border-radius: 13px;*/
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    /*background-color: yellow;*/
    width: 620px;
    height: 40px;
    border-radius: 4px;

}
.search-input{
    width: 100%;
    font-size: rem;
    border: 2px solid rgb(234, 218, 218);
    text-align: center;
    background-color: antiquewhite;
    border-radius: 4px;
    font-size: 17px;
	height: 37px;
    width: 569px;
}
 
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

.nav-search:hover {
    border:2px solid #e46161;
}

 

/* hero section */


/* hero section  

 body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
	  
    width: 100%;
    background-color: #ffffff;
    z-index: 2;
	 
}

.container {
    
	
	 width: 1328px;
    height: 860px;
    position: relative; /* Change from absolute to relative */
    margin: 154px auto 0; /* Adjust margin to create space below header */
    box-shadow: /* your box shadow styles */;
	/*
    overflow: hidden;
    z-index: 1;
	margin-bottom: 7px;
}

.container .slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slides .slide {
    width: 20%;
    transition: 0.8s;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slides input {
    position: absolute;
    visibility: hidden;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.navigation .bar {
    width: 50px;
    height: 15px;
    border: 2px solid black;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: black;
}

#radio1:checked ~ .s1 {
    margin-left: 0;
}
#radio2:checked ~ .s1 {
    margin-left: -20%;
}
#radio3:checked ~ .s1 {
    margin-left: -40%;
}
#radio4:checked ~ .s1 {
    margin-left: -60%;
}
#radio5:checked ~ .s1 {
    margin-left: -80%;
}

#radio1:checked ~ .navigation .bar1,
#radio2:checked ~ .navigation .bar2,
#radio3:checked ~ .navigation .bar3,
#radio4:checked ~ .navigation .bar4,
#radio5:checked ~ .navigation .bar5 {
    background: #fff;
}

/* New styles for categories section */
/*
.categories-section {
    margin-top: 20px; /* Adjust the value to create space between container and categories */
}
/*
.category-heading {
    margin-bottom: 20px; /* Adjust the value to create space between categories and heading */
}
/*
.category-panel {
    display: flex;
    justify-content: space-between;
}

.category-box {
    width: 18%; /* Adjust the width of each category box */
   /* text-align: center;
}

 
  
*/




 
.hero-section{
    /*background-image: url("images/cow.JPG");*/
	 
    background-image: no-repeat;
    height:700px;
    width:100%;
    background-size: cover;
     
    display: flex;
    justify-content: center;
    align-items: flex-end;
     
    margin: 4px;
     
	 
    border-radius: 30px;


}

.hero-msg{
    background-color: white;
    color: #302a2b;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    font-weight: 600;
    border-radius: 13px;
	
}
.hero-msg p{
    font-size: 18px;
}
.hero-msg a{
    color: #de1223;
}
  
/* Category Styles */


.category-heading {
    background-color: #8ed2c9; /* Light yellow category heading */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
	margin:5px 5px;
}

.category-panel {
    display: flex;
    justify-content: space-evenly;
}

.category-box {
    background-color: #e4f1fe;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
	text-decoration: none;
}

.category-box img {
    max-width: 80px;
    max-height: 80px;
}

.category-box span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.category-box:hover {
    background-color: #f8f398; /* Yellow on hover */
}


/*most selling products*/

 
.shop-sec{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    margin: 17px;
    border-radius: 30px;

}
h3{
    margin-left: 33px;
    font-size: 20px;
}
.box-container{
    height: 340px;
    width: 241px;
    border:0.5px solid black;
    border-radius: 20px;
    
	
	 
    margin: 17px;
     
    }
    .box-container:hover{
        transition: transform .2s;
         transform: scale(1.1);
    }
.box-img{
    height: 204px;
    width: 207px;
     
    margin: 13px;
}
strong{
    display: block;
    margin-left: 14px;
}
.rate{
    display: block;
    margin-left: 14px;
}
.btn{
   height: 39px;
    width: 143px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 42px;
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
}
.btn:hover{
    background-color: pink;
}
.box-img img{
    height: 209px;
    width: 228px;
    object-fit: contain;
    object-position: center;
    transition: all ease 0.1s;
	background-image: cover;
}
.box-container a{
    color: #393939;
}

 
 
/*feedback-section*/
 
p{
    font-size: 30px;
    margin: 17px;
    font-weight: 700;
}
.feedback-sec{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    background-color: #5c5470;
    margin: 17px;
    border-radius: 30px;
}
.msg-box{
    height: 260px;
    width: 241px;
    border:0.5px solid black;
    border-radius: 20px;
     
    margin: 17px;
}

.msg-box:hover{
    transition: transform .2s;
    transform: scale(1.2);
 }

 
.name-sec{
    display: flex;
    justify-content: center;
    align-items: center;

}
 
.profile{
     font-size: 15px;
}
.name strong{    
    margin: 20px;
}
    
 .height{
    line-height: 18px;
 }


 /* footer */

  
footer{
    margin-top: 15px;
      
}
ul a {
    color: #ddda9a;
}

.foot-panel1{
    background-color: #242f2f;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
	border-radius:20px;
	margin:10px 10px;
}

.foot-panel2{
    background-color:black;
    color: white;
    height: 355px;
    display: flex;
    justify-content: space-evenly;
border-radius:20px;
	margin:10px 10px;

}

ul{
    margin-top: 20px;
	 
	
}
.foot-panel2 a{
    display: block;
    font-size: 20px;
    margin-top: 10px;
    color: #dddddd;
	text-decoration: none;
	
}

.foot-panel3{
    background-color: black;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
	border-radius:20px;
	margin:10px 10px;

}
 

.foot-panel4{
    background-color: #0f1111;
    color: white;
     
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
	border-radius:20px;
	margin:10px 10px;
}

.pages{
     
    padding-top: 25px;

}

.copyright{
    padding-top: 5px;
     

}

    
  

 